@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    background-image:linear-gradient(to right,#aaa1fd, #7d6ffa);
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.container{
    width: 800px;
    height: 400px;
    margin: 150px auto;
    padding: 20px;
    background: rgb(219, 213, 205);
    border-radius: 5px;
    box-shadow: inset -10px -5px rgba(0,0,0,0.2);
}
h1{
    text-align: center;
    font-size: 45px;
    font-weight:600;
    padding: 10px;
    margin-top: 10px;
}
.relogio{
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}
button{
    border: none;
    border-radius: 5px;
    box-shadow: inset -3px -3px rgba(0,0,0,0.2);
    font-weight:600;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 45px;
    padding: 15px 15px;
    position: relative;
    width: 200px;
    
}
button:focus{
    outline: none;
}

button:active{
    box-shadow: inset -1px -1px rgba(0,0,0,0.2);
}
.iniciar{
    background-color: rgb(78, 172, 248);
}
.iniciar:hover{
    background-color: rgb(41, 156, 250);
}
.pausar{
    background-color: rgb(93, 240, 129);
}
.pausar:hover{
    background-color: rgb(47, 231, 93)
}
.zerar{
    background-color: rgb(248, 89, 78);
}
.zerar:hover{
    background-color: rgb(240, 68, 56)
}